/******************************************
Variables
*******************************************/

// FONT VARIABLES
$font-primary: "VazirFarsiDigit", sans-serif;
$default-font-size: 1rem;

// Fonts path
$font_path: "~@/assets/fonts/vazir-font";

//Color
$color-primary: #3498db;
$color-primary-light: #99cbed;
$color-primary-dark: #1c6a9e;

$color-secondary: #1abc9c;
$color-secondary-light: #9ff2e1;
$color-secondary-dark: #148f77;

$color-dark-blue: #2980b9;
$color-red: #ff6a6a;

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #bdbcbc; //Border

$color-grey-dark-1: #333;
$color-grey-dark-2: #95a5a6;
$color-grey-dark-3: #777;
$color-grey-dark-4: #7f8c8d;

$color-white: #fff;
$color-black: #000;

/******************************************
Base
*******************************************/

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.6;
  color: $color-grey-dark-1;
  direction: rtl;
  font-size: $default-font-size;
  font-family: $font-primary;
}

html,
body {
  width: 100vw;
  overflow-x: hidden !important;
}

/******************************************
Typography
*******************************************/

html {
  font-size: 62.5%;
}

@font-face {
  font-family: VazirFarsiDigit;
  src: url($font_path+"/Vazir-Thin-FD-WOL.eot");
  src: url($font_path+"/Vazir-Thin-FD-WOL.woff2") format("woff2"),
    url($font_path+"/Vazir-Thin-FD-WOL.woff") format("woff"),
    url($font_path+"/Vazir-Thin-FD-WOL.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: VazirFarsiDigit;
  src: url($font_path+"/Vazir-Light-FD-WOL.eot");
  src: url($font_path+"/Vazir-Light-FD-WOL.woff2") format("woff2"),
    url($font_path+"/Vazir-Light-FD-WOL.woff") format("woff"),
    url($font_path+"/Vazir-Light-FD-WOL.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: VazirFarsiDigit;
  src: url($font_path+"/Vazir-Medium-FD-WOL.eot");
  src: url($font_path+"/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url($font_path+"/Vazir-Medium-FD-WOL.woff") format("woff"),
    url($font_path+"/Vazir-Medium-FD-WOL.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: VazirFarsiDigit;
  src: url($font_path+"/Vazir-Bold-FD-WOL.eot");
  src: url($font_path+"/Vazir-Bold-FD-WOL.woff2") format("woff2"),
    url($font_path+"/Vazir-Bold-FD-WOL.woff") format("woff"),
    url($font_path+"/Vazir-Bold-FD-WOL.ttf") format("truetype");
  font-weight: 500;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 0.9rem;
}

/******************************************
Mixin
*******************************************/

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/******************************************
Grid
*******************************************/

.container {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow-x: hidden !important;

  @include clearfix;
}

/* 1/12 */
.col-1 {
  width: 8.33%;
}

/* 2/12 */
.col-2 {
  width: 16.66%;
}

/* 3/12 */
.col-3 {
  width: 25%;
}

/* 4/12 */
.col-4 {
  width: 33.33%;
}

/* 5/12 */
.col-5 {
  width: 41.66%;
}

/* 6/12 */
.col-6 {
  width: 50%;
}

/* 7/12 */
.col-7 {
  width: 58.33%;
}

/* 8/12 */
.col-8 {
  width: 66.66%;
}

/* 9/12 */
.col-9 {
  width: 75%;
}

/* 10/12 */
.col-10 {
  width: 83.33%;
}

/* 11/12 */
.col-11 {
  width: 91.66%;
}

/* 12/12 */
.col-12 {
  width: 100%;
}

/******************************************
Helper
*******************************************/
.d-flex {
  display: flex;
}

.ma-medium {
  margin: 2rem;
}

.mt-medium {
  margin: 2rem;
}

.pa-medium {
  padding: 2rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.ml-huge {
  margin-left: 10rem;
}

.b-text {
  font-weight: bold;
}

.bg-grey {
  background-color: $color-grey-light-1;
}

.bg-white {
  background-color: $color-white;
}

.cursor-pointer {
  cursor: pointer;
}

/******************************************
Components
*******************************************/
.btn {
  font-size: 1.3rem;
  border-radius: 8px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: inherit;

  &--primary {
    color: white;
    background-color: $color-primary;
    border: 1px solid $color-white;
  }

  &--secondary {
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-primary;
  }

  &--small {
    width: auto;
    padding: 5px 10px;
  }

  &--medium {
    padding: 12px 18px;
    width: 150px;
  }

  &--big {
    width: 90%;
    padding: 12px 18px;
    min-height: 48px;
  }
}

.icon {
  &--primary {
    fill: $color-primary;
  }

  &--secondary {
    fill: $color-secondary;
  }

  &--white {
    fill: $color-white;
  }

  &--grey {
    fill: $color-grey-dark-2;
  }
}
/******************************************
Animation
*******************************************/

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
