//Color
$color-primary: #3498db;
$color-primary-light: #99cbed;
$color-primary-dark: #1c6a9e;

$color-secondary: #1abc9c;
$color-secondary-light: #9ff2e1;
$color-secondary-dark: #148f77;

$color-dark-blue: #2980b9;
$color-red: #ff6a6a;

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #bdbcbc; //Border

$color-grey-dark-1: #333;
$color-grey-dark-2: #95a5a6;
$color-grey-dark-3: #777;
$color-grey-dark-4: #7f8c8d;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: "VazirFarsiDigit", sans-serif;
$default-font-size: 1rem;

// Fonts path
$font_path: "~@/assets/fonts/vazir-font";
