.best-offer {
  background-image: linear-gradient(
    to bottom,
    $color-primary-light,
    $color-primary-dark
  );
  margin: 5rem 0 0;
  padding: 6rem 4rem 4rem;
}

.title {
  font-weight: 700;
  background-image: linear-gradient(to right, $color-red, $color-primary-dark);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.test {
  margin-right: auto;
  background-color: transparent;
}
