.header {
  box-shadow: 0 1px 9px 1px rgb(0 0 0 / 12%);
  padding: 0 5rem;
}

.upper-header {
  height: 6rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10rem;
  height: auto;
}

.profile-icon {
  width: 2rem;
  width: 2rem;
  margin-left: 5rem;
}

.basket-icon {
  width: 2.5rem;
  width: 2.5rem;
}

.basket {
  position: relative;

  &__link {
    color: $color-grey-dark-3;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 6rem;
  }
  &:hover &__modal {
    display: block;
    animation: moveInUp 0.75s;
  }

  &__modal {
    position: absolute;
    left: 6rem;
    display: none;
  }
}
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-grey-light-1;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-dark-2;
    }
  }
}

// Navigation
.navigation {
  margin: 0 auto;
  background: $color-white;
  font-size: 1.2rem;

  & .mega-menu {
    list-style: none;
    text-align: center;

    & .list-item {
      display: inline-block;
      position: relative;
      &:hover .mega-menu-sub {
        display: inline;
      }

      & .link {
        display: block;
        text-decoration: none;
        color: #aaa;
        margin: 0 5px;
        padding: 15px;
        position: relative;

        &::after,
        &::before {
          transition: all 0.5s;
        }

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

// Animation
.navigation .mega-menu .list-item .link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: $color-primary;
  height: 1px;
}

.navigation .mega-menu .list-item .link:hover:after {
  width: 100%;
}

.nav-icon {
  width: 25px;
  height: 20px;
  vertical-align: middle;
  padding-left: 5px;
}

.mega-menu-sub {
  position: absolute;
  display: none;
  list-style: none;
  text-align: right !important;
  background-color: $color-grey-light-1;
  border-radius: 10px;
  padding-left: 43px;
  right: 0;
  animation: moveInBottom 0.75s;
  width: 170px;
  z-index: 2;

  & li {
    padding: 10px 0;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: ">";
      display: inline-block;
      position: absolute;
      // padding-right: 6px;
      left: -20px;
      padding-top: 1.5px;
      color: $color-primary;
    }

    & a {
      color: #aaa;
      font-size: inherit;
      text-decoration: none;
    }
  }
}
